In [ ]:
import pandas as pd

During the generation process, many columns were added that are redundant. In order to make the synthetic population file clearer, it is best to clean up those columns

# Individuals

In [ ]:
df_synth_pop = pd.read_pickle('synthetic_population/with_households/individuals/synth_pop_DHWZ_v10.pkl')
df_synth_pop

,neighb_code,age_group,gender,age,small_age_group,migration_background,education_attainment_age_group,absolved_education,education_age_group,current_education,license_age,car_license,motorcycle_license,moped_license,household_position,household_id
agent_id,,,,,,,,,,,,,,,,
SA000000,BU05181785,25-45,female,28,25-30,Dutch,25-35,"311 Hbo-, wo-bachelor",28,not_enrolled,25-30,yes,yes,yes,married_with_no_children,SSH000002
SA000001,BU05181785,25-45,female,27,25-30,Dutch,25-35,"121 Vmbo-b/k, mbo1",27,not_enrolled,25-30,yes,no,yes,married_with_no_children,SSH000001
SA000002,BU05181785,25-45,female,26,25-30,NonWestern,25-35,212 Mbo4,26,not_enrolled,25-30,yes,no,yes,married_with_no_children,SSH003365
SA000003,BU05181785,25-45,male,44,40-45,Dutch,35-45,"311 Hbo-, wo-bachelor",40-45,not_enrolled,40-50,yes,yes,yes,single,SSH021632
SA000004,BU05181785,25-45,male,43,40-45,Dutch,35-45,"321 Hbo-, wo-master, doctor",40-45,not_enrolled,40-50,yes,no,yes,married_with_no_children,SSH000001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SA084875,BU05183639,65+,male,65,65-70,NonWestern,65-75,"213 Havo, vwo",65-70,not_enrolled,65-70,no,no,no,married_no_children,SSH019409
SA084876,BU05183639,65+,male,65,65-70,NonWestern,65-75,"213 Havo, vwo",65-70,not_enrolled,65-70,no,no,no,single,SSH042348
SA084877,BU05183639,65+,male,65,65-70,NonWestern,65-75,"213 Havo, vwo",65-70,not_enrolled,65-70,no,no,no,married_with_2_children,SSH006978
SA084878,BU05183639,65+,male,65,65-70,NonWestern,65-75,"213 Havo, vwo",65-70,not_enrolled,65-70,no,no,no,single,SSH042349
SA084879,BU05183639,65+,male,65,65-70,NonWestern,65-75,"213 Havo, vwo",65-70,not_enrolled,65-70,no,no,no,married_with_3_children,SSH009320

In [ ]:
df_synth_pop.drop(columns=[
    'age_group',
    'small_age_group',
    'education_attainment_age_group',
    'education_age_group',
    'license_age',
], inplace=True)
df_synth_pop

,neighb_code,gender,age,migration_background,absolved_education,current_education,car_license,motorcycle_license,moped_license,household_position,household_id
agent_id,,,,,,,,,,,
SA000000,BU05181785,female,28,Dutch,"311 Hbo-, wo-bachelor",not_enrolled,yes,yes,yes,married_with_no_children,SSH000002
SA000001,BU05181785,female,27,Dutch,"121 Vmbo-b/k, mbo1",not_enrolled,yes,no,yes,married_with_no_children,SSH000001
SA000002,BU05181785,female,26,NonWestern,212 Mbo4,not_enrolled,yes,no,yes,married_with_no_children,SSH003365
SA000003,BU05181785,male,44,Dutch,"311 Hbo-, wo-bachelor",not_enrolled,yes,yes,yes,single,SSH021632
SA000004,BU05181785,male,43,Dutch,"321 Hbo-, wo-master, doctor",not_enrolled,yes,no,yes,married_with_no_children,SSH000001
...,...,...,...,...,...,...,...,...,...,...,...
SA084875,BU05183639,male,65,NonWestern,"213 Havo, vwo",not_enrolled,no,no,no,married_no_children,SSH019409
SA084876,BU05183639,male,65,NonWestern,"213 Havo, vwo",not_enrolled,no,no,no,single,SSH042348
SA084877,BU05183639,male,65,NonWestern,"213 Havo, vwo",not_enrolled,no,no,no,married_with_2_children,SSH006978
SA084878,BU05183639,male,65,NonWestern,"213 Havo, vwo",not_enrolled,no,no,no,single,SSH042349
SA084879,BU05183639,male,65,NonWestern,"213 Havo, vwo",not_enrolled,no,no,no,married_with_3_children,SSH009320

In [ ]:
df_synth_pop.to_csv('synthetic_population_the_hague_south_west.csv')

# Households

In [ ]:
df_synth_hh = pd.read_pickle('synthetic_population/with_households/households/synth_households_DHWZ_v10.pkl')
df_synth_hh

,household_id,neighb_code,hh_type,hh_size,small_hh_type,PC6,main_bread_winner_age,main_bread_winner_migration_background,income_age_group,income_household_type,income_group,car_license,motorcycle_license,vehicle_ownership_income_group,cars,motorcycles
0,SSH000000,BU05181785,married_with_1_children,3,with_children,2544CV,57,Dutch,45-65,couple_with_children,10,3,0,5,2.0,0.0
1,SSH000001,BU05181785,married_no_children,2,without_children,2544CW,43,Dutch,25-45,couple_no_children,10,2,0,5,0.0,0.0
2,SSH000002,BU05181785,married_no_children,2,without_children,2544CW,31,Western,25-45,couple_no_children,10,2,1,5,0.0,0.0
3,SSH000003,BU05183284,married_with_1_children,3,with_children,2541XG,71,Dutch,65+,couple_with_children,1,3,0,1,0.0,0.0
4,SSH000004,BU05183284,married_with_1_children,3,with_children,2541XG,66,Dutch,65+,couple_with_children,10,2,0,5,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42345,SSH042345,BU05183639,single,1,single_person,2533CL,67,Dutch,65+,single,9,1,0,5,1.0,0.0
42346,SSH042346,BU05183639,single,1,single_person,2533CL,67,Dutch,65+,single,9,1,0,5,1.0,0.0
42347,SSH042347,BU05183639,single,1,single_person,2533CL,65,NonWestern,65+,single,4,0,0,2,0.0,0.0
42348,SSH042348,BU05183639,single,1,single_person,2533CL,65,NonWestern,65+,single,5,0,0,3,0.0,0.0
42349,SSH042349,BU05183639,single,1,single_person,2533CL,65,NonWestern,65+,single,6,0,0,3,0.0,0.0

In [ ]:
df_synth_hh.drop(columns=[
    'hh_type',
    'hh_size',
    'small_hh_type',
    'main_bread_winner_age',
    'main_bread_winner_migration_background',
    'income_age_group',
    'income_household_type',
    'car_license',
    'motorcycle_license',
    'vehicle_ownership_income_group'
], inplace=True)
df_synth_hh

      household_id neighb_code     PC6 income_group cars motorcycles
0        SSH000000  BU05181785  2544CV           10  2.0         0.0
1        SSH000001  BU05181785  2544CW           10  0.0         0.0
2        SSH000002  BU05181785  2544CW           10  0.0         0.0
3        SSH000003  BU05183284  2541XG            1  0.0         0.0
4        SSH000004  BU05183284  2541XG           10  0.0         0.0
...            ...         ...     ...          ...  ...         ...
42345    SSH042345  BU05183639  2533CL            9  1.0         0.0
42346    SSH042346  BU05183639  2533CL            9  1.0         0.0
42347    SSH042347  BU05183639  2533CL            4  0.0         0.0
42348    SSH042348  BU05183639  2533CL            5  0.0         0.0
42349    SSH042349  BU05183639  2533CL            6  0.0         0.0

[42350 rows x 6 columns]

In [ ]:
df_synth_hh.to_csv('synthetic_households_the_hague_south_west.csv')